<div class="side-bar">
  <div class="side-header">
    <div class="user-name">
      <%= link_to current_user.name, "users/#{current_user.id}/edit"%>
    </div>
    <div class="create-room">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
  <div class="rooms">
    <div class="room">
      <a href="#">techroom1</a>
    </div>
    <div class="room">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>